@media (max-width: 1500px) { 
.banner {
  height: 96px;
}
}
@media (max-width: 1400px) { 
div#carousel-example-generic {
  width: 470px;
  margin-top: 44px;
}
}

@media (max-width: 1200px) { 
div#carousel-example-generic {
  width: 350px;
  margin-top: 0px;
}
}

@media (max-width: 1100px) { 
div#carousel-example-generic {
  width: 280px;
}
}
@media (max-width: 1000px) { 
div#carousel-example-generic {
  width: 250px;
}
}


@media (max-width: 991px) { 
.col-md-2 {
  width: 30%;
  float:left;
}
.col-md-10 {
  width: 70%;
  float:left;
}

.main-content.clearfix.clear {
  padding: 0 20px;
}
div#carousel-example-generic{
	position:relative;
	right:auto;
	left:auto;
	width:100%;
	padding:20px 0;
	clear:both;
}
.banner {
  height: auto;
}
}



@media (max-width: 580px) { 
.col-md-2,
.col-md-10 {
  width: 100%;
  float:none;
  padding:0;
}
.ad input[type="text"] {
  width: 75%;
}
.main-content.clearfix.clear {
  padding: 0 10px;
}
ul {
  padding-left: 0;
}
ul.box li{
	width:32.5%;
	min-height:160px;
	height:auto;
}
.footer ul li a {
  padding: 10px 17px;
}

.header{
	padding:10px;
}
.logo-container span.phone-no{
	padding:30px 0 0;
	float:right;
}
.logo-container {
  float: none;
}
.main-menu{
	margin-top:0px;
	float:none;
	clear:both;
	padding-top:20px;
}

ul.menu li a {
  padding: 8px 30px;
}
.slider{
	padding:0 20px;
}
}


@media (max-width: 420px) { 

ul.box li{
	width:49%;
}

.logo-container span.phone-no {
  font-size: 14px;
  padding-top:10px;
}
ul.menu li a {
  padding: 8px 9px;
}
ul.menu li.cart-menu {
  position: absolute;
  top: 60px;
  right: 30px;
}
}


@media only screen and (min-width:1099px) and (max-width:1280px) {
	
div#carousel-example-generic {
  width: 340px;
  margin-top: 0;
} 
}
